CdT.ClientPortal.WebApi/Connected Services/FinancialService/FinancialService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dotnet12-dev1/eConnect/WCF/FinancialService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CdT.eConnect.DTOs" />
  <xs:element name="GetPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="priority" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="referenceDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sourceLanguage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetLanguage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sourceFormat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isConfidential" type="xs:boolean" />
        <xs:element minOccurs="0" name="quantity" type="xs:decimal" />
        <xs:element minOccurs="0" name="organizationId" type="xs:int" />
        <xs:element minOccurs="0" name="hasReduction" type="xs:boolean" />
        <xs:element minOccurs="0" name="deliveryMode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CdT.eConnect.DTOs" minOccurs="0" name="GetPriceResult" nillable="true" type="q1:PriceStructureDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriceRecalculated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="priority" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="referenceDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sourceLanguage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetLanguage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sourceFormat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isConfidential" type="xs:boolean" />
        <xs:element minOccurs="0" name="originalQuantity" type="xs:decimal" />
        <xs:element minOccurs="0" name="builtQuantity" type="xs:decimal" />
        <xs:element minOccurs="0" name="organizationId" type="xs:int" />
        <xs:element minOccurs="0" name="hasReduction" type="xs:boolean" />
        <xs:element minOccurs="0" name="deliveryMode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriceRecalculatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CdT.eConnect.DTOs" minOccurs="0" name="GetPriceRecalculatedResult" nillable="true" type="q2:PriceStructureDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>