CdT.ClientPortal.WebApi/Connected Services/FinancialService/FinancialService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FinancialService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dotnet12-dev1/eConnect/WCF/FinancialService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dotnet12-dev1/eConnect/WCF/FinancialService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dotnet12-dev1/eConnect/WCF/FinancialService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CdT.eConnect.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFinancialService_GetPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrice" />
  </wsdl:message>
  <wsdl:message name="IFinancialService_GetPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IFinancialService_GetPriceRecalculated_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPriceRecalculated" />
  </wsdl:message>
  <wsdl:message name="IFinancialService_GetPriceRecalculated_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPriceRecalculatedResponse" />
  </wsdl:message>
  <wsdl:portType name="IFinancialService">
    <wsdl:operation name="GetPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinancialService/GetPrice" message="tns:IFinancialService_GetPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinancialService/GetPriceResponse" message="tns:IFinancialService_GetPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPriceRecalculated">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinancialService/GetPriceRecalculated" message="tns:IFinancialService_GetPriceRecalculated_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinancialService/GetPriceRecalculatedResponse" message="tns:IFinancialService_GetPriceRecalculated_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFinancialService" type="tns:IFinancialService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPrice">
      <soap:operation soapAction="http://tempuri.org/IFinancialService/GetPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPriceRecalculated">
      <soap:operation soapAction="http://tempuri.org/IFinancialService/GetPriceRecalculated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FinancialService">
    <wsdl:port name="BasicHttpBinding_IFinancialService" binding="tns:BasicHttpBinding_IFinancialService">
      <soap:address location="http://dotnet12-dev1/eConnect/WCF/FinancialService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>