CdT.ClientPortal.WebApi/Connected Services/FinancialService/FinancialService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CdT.eConnect.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CdT.eConnect.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PriceStructureDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BasePrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="SurchargeComplexity" type="xs:decimal" />
      <xs:element minOccurs="0" name="SurchargeConfidentiality" type="xs:decimal" />
      <xs:element minOccurs="0" name="SurchargeNonEuLanguage" type="xs:decimal" />
      <xs:element minOccurs="0" name="SurchargeWebUpload" type="xs:decimal" />
      <xs:element minOccurs="0" name="TarifId" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriceStructureDTO" nillable="true" type="tns:PriceStructureDTO" />
</xs:schema>