CdT.ClientPortal.WebApi/Connected Services/FileManagement/FileManagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileManagement" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IFileManagement_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/FileManagementService/FileManagement.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/FileManagementService/FileManagement.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CdT.Storage.FileManagementService" />
      <xsd:import schemaLocation="http://localhost/FileManagementService/FileManagement.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFileManagement_CloneFile_InputMessage">
    <wsdl:part name="parameters" element="tns:CloneFile" />
  </wsdl:message>
  <wsdl:message name="IFileManagement_CloneFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloneFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileManagement_CloneFile_FileIOFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/CdT.Storage.FileManagementService" name="detail" element="q1:FileIOFault" />
  </wsdl:message>
  <wsdl:message name="IFileManagement_DeleteFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="IFileManagement_DeleteFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileManagement_DeleteFile_FileIOFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/CdT.Storage.FileManagementService" name="detail" element="q2:FileIOFault" />
  </wsdl:message>
  <wsdl:message name="IFileManagement_StoreFile_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreFile" />
  </wsdl:message>
  <wsdl:message name="IFileManagement_StoreFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileManagement_StoreFile_FileIOFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/CdT.Storage.FileManagementService" name="detail" element="q3:FileIOFault" />
  </wsdl:message>
  <wsdl:portType name="IFileManagement">
    <wsdl:operation name="CloneFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileManagement/CloneFile" message="tns:IFileManagement_CloneFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileManagement/CloneFileResponse" message="tns:IFileManagement_CloneFile_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFileManagement/CloneFileFileIOFaultFault" name="FileIOFaultFault" message="tns:IFileManagement_CloneFile_FileIOFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileManagement/DeleteFile" message="tns:IFileManagement_DeleteFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileManagement/DeleteFileResponse" message="tns:IFileManagement_DeleteFile_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFileManagement/DeleteFileFileIOFaultFault" name="FileIOFaultFault" message="tns:IFileManagement_DeleteFile_FileIOFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="StoreFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileManagement/StoreFile" message="tns:IFileManagement_StoreFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileManagement/StoreFileResponse" message="tns:IFileManagement_StoreFile_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFileManagement/StoreFileFileIOFaultFault" name="FileIOFaultFault" message="tns:IFileManagement_StoreFile_FileIOFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileManagement" type="tns:IFileManagement">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CloneFile">
      <soap:operation soapAction="http://tempuri.org/IFileManagement/CloneFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FileIOFaultFault">
        <soap:fault use="literal" name="FileIOFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://tempuri.org/IFileManagement/DeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FileIOFaultFault">
        <soap:fault use="literal" name="FileIOFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="StoreFile">
      <soap:operation soapAction="http://tempuri.org/IFileManagement/StoreFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FileIOFaultFault">
        <soap:fault use="literal" name="FileIOFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IFileManagement" type="tns:IFileManagement">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IFileManagement_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CloneFile">
      <soap:operation soapAction="http://tempuri.org/IFileManagement/CloneFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FileIOFaultFault">
        <soap:fault use="literal" name="FileIOFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://tempuri.org/IFileManagement/DeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FileIOFaultFault">
        <soap:fault use="literal" name="FileIOFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="StoreFile">
      <soap:operation soapAction="http://tempuri.org/IFileManagement/StoreFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FileIOFaultFault">
        <soap:fault use="literal" name="FileIOFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileManagement">
    <wsdl:port name="BasicHttpBinding_IFileManagement" binding="tns:BasicHttpBinding_IFileManagement">
      <soap:address location="http://localhost/FileManagementService/FileManagement.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IFileManagement" binding="tns:BasicHttpsBinding_IFileManagement">
      <soap:address location="https://w7204.communication1.ntld/FileManagementService/FileManagement.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>